.col-xs-8#reports-content
  - if notice
    .alert.alert-info= notice
  .list-group
    .list-group-item.report-list
      %h2 課題一覧
    = div_for @reports, class: "list-group-item" do |r|
      %h4.report
        %span.report-name
          = link_to r.name, report_path(r)
        %span.report-timelimit
          締切日 #{r.timelimit}
      .discription
        = r.description
      .content-footer
        - if r.accepted_by? current_user
          = link_to "課題終了", report_accepts_path(r), method: :delete
        - else
          = link_to "この課題に着手", report_accepts_path(r), method: :post