#reports-show
  .col-xs-6.reports-content
    .box
      %h2
        = @report.name
      .box-body
        .control-label
          = @report.timelimit
        %h4
          = @report.description
        = button_to 'Edit', edit_report_path(@report), method: :get, class: "btn-block btn-success"
        = button_to 'Back', reports_path, method: :get, class: "btn-block btn-success"
  .col-xs-6.reports-content
    .box
      %h2
        参考文献
      .box-body
        = button_to 'New', new_bibliography_path(@report), method: :get, class: "btn-block btn-success"
        - if @report.bibliographies.empty?
          まだ参考文献がありません
        = div_for @report.bibliographies, class: "list-group-item" do |t|
          %h4.user
            %span.user-name
              = link_to t.name, t.url, :target=>["_blank"] 
