#reports-show
  .col-xs-6.reports-content
    .box
      %h2
        = @report.name
      .box-body
        .control-label
          = @report.timelimit
        %h4
          = @report.description
        = button_to 'Edit', edit_report_path(@report), method: :get, class: "btn-block btn-success"
        = button_to 'Back', reports_path, method: :get, class: "btn-block btn-success"
